<div class="footer-wagon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">

      </div>
      <div class="col-xs-12 col-sm-4">

      </div>
      <div class="col-xs-12 col-sm-4">

      </div>
    </div>
  </div>
</div>
